body {
    @extend %Inter-400;
    font-size: 16px;
    line-height: 24px;
    color: #202020;
}

.container{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.reviews{
    padding-left: 42px;
    margin-bottom: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
}

.reviews::after{
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    border: 2px solid $accent;
    border-radius: 10px;
    width: 30px;
}

.title{
    @extend %Inter-600;
        font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(25px + (55 - 25) * ((100vw - 320px) / (1920 - 320)));
}